<div class="prose">
    <p>
        Psychologue clinicienne et psychothérapeute, je vous accueille dans mon cabinet aux Roches de Condrieu.
    </p>
    <p>
        Mon approche est principalement psychodynamique, c’est-à-dire d’orientation analytique et intégrative, c’est-à-dire qu’elle s’inspire également des apports des méthodes développées dans les autres grands courants psychothérapeutiques en psychologie
    </p>

    <p>
        Cette approche s’adapte ainsi à chaque individu en fonction de son histoire, sa personnalité, ses différentes problématiques, sa demande, dans le respect du caractère unique et singulier de chaque personne.
    </p>

    <p>
        Ma pratique se fonde sur l’idée que rien n’est figé dans le psychisme humain et que toute personne peut aller vers une évolution, un changement, et un mieux-être.
    </p>

    <p>
        Mon rôle de thérapeute est d’accompagner le patient dans le cheminement lui permettant de se (re)lier à ses forces, ses ressources internes, ses réponses, afin de pouvoir faire face, traiter, et dépasser les problématiques qui l’entravent.</p>

    <p>
        L’espace thérapeutique est un espace d’écoute sécurisant, dans lequel le patient se sentira à même de s’exprimer et d’explorer sa vie psychique, les sources de ses souffrances et les voies de résolution de ses souffrances.
    </p>
    <p>
        Au niveau éthique, ma pratique se fonde sur le code de déontologie des psychologues (asterix lien vers code de deontologie), une écoute bienveillante, en l’absence de tout jugement, et dans le respect de la confidentialité.
    </p>
</div>
<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">
    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div>
